* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #214252;
}
.todo-app {
  width: fit-content;
  min-height: 30rem;
  padding: 1.5rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
  background-color: #f05454;
  font-family: 'Roboto', sans-serif;
}

.title {
  margin-bottom: 0.4rem;
}

.todo-form {
  margin: 0.5rem 0;
  font-family: 'Roboto', sans-serif;
}

.no-todos {
  margin: 0.6rem 0;
  padding: 0.75rem 1rem;
  background-color: #cce2e2;
  border-radius: 30px;
  justify-content: space-between;
  border: 2px solid black;
  font-size: 1.3rem;
}

.filter {
  width: fit-content;
  margin: 0.3rem auto;
}

.new-todo {
  width: 22rem;
  height: 3rem;
  padding: 1rem;
  font-size: 17px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  border-right: none;
}

.new-todo:focus {
  outline: none;
}

.add-todo-button {
  width: 5rem;
  height: 3rem;
  padding: 0.7rem;
  font-size: 17px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid black;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-color: #707070;
}

.add-todo-button:focus {
  outline: none;
}

.add-todo-button:hover {
  outline: none;
  background-color: #99a8b2;
}

.radio {
  width: 1.5rem;
}
.radio-label {
  margin: 0.5rem;
}

.todo {
  padding: 0.2rem 1rem;
  width: 27rem;
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  background-color: #8bcdcd;
  border-radius: 30px;
  justify-content: space-between;
  border: 2px solid black;
  overflow-wrap: anywhere;
  font-size: 17px;
}

.todo-task {
  cursor: pointer;
  width: 100%;
}

.toggle-done {
  transform: scale(1.7);
  padding: 10px;
}

.delete-button {
  cursor: pointer;
  margin-left: 1rem;
}

.edit-button {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  opacity: 0.4;
}

@media screen and (max-width: 528px) {
  /* .new-todo {
    border-radius: 30px;
  }

  .add-todo-button {
    border-radius: 30px;
    margin-top: 0.5rem;
  } */

  .new-todo {
    width: auto;
    font-size: 1rem;
  }

  .add-todo-button {
    width: auto;
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .todo {
    width: auto;
  }
}
